.admin h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.edit-btn,
.delete-btn {
  font-size: 1rem;
}

.edit-btn:hover {
  background-color: #13c9e9;
}

.delete-btn:hover {
  background-color: #eb1717;
}
